# M02 - In Class Participation 
## Rachel Holman

## Exercise 2.1
Define a string with length >= 6 and print:

- the first 3 characters of the string
- the last 3 characters of the string

In [1]:
word = "onomatopoeia"
len(word) >= 6

True

In [2]:
word[0:3]

'ono'

In [3]:
word[len(word)-3:len(word)]

'eia'

In [4]:
# alternative method
print(word[:3])
print(word[-3:])

ono
eia

## Excercise 2.2
Create a new list and assign 3 values to it.

Then print he second element from the list.

In [5]:
newlist = ["item1", "item2", "item3"]
print(newlist[1])

item2

In [6]:
# alternative method
newlist1 = []
newlist1.append('item1')
newlist1.append('item2')
newlist1.append('item3')
print(newlist1[1])

item2

In [7]:
# alternative method
newlist2 = []
newlist2 += ['item1']
newlist2 += ['item2', 'item3']
print(newlist2[1])

item2

## Exercise 2.3
Create a tuple with 3 values.

Then, try to append a fourth value.

In [8]:
tuple1 = (1,2,3)

#alternative methods to define tuples
tuple2 = 1,2,3
tuple3 = tuple([1,2,3])

In [9]:
tuple1.append(4) #error

AttributeError: 'tuple' object has no attribute 'append'

## Exercise 2.4
Assign a value to a string.

Define set of strings.

Determine if value is in the set.

In [10]:
val = "ERROR"
levels = {'WARN','ERROR','CRITICAL'}

In [11]:
val in levels

True

## Exercise 2.5
Create a dictionary containing at least 3 key-value pairs.

Use get() to index into the dictionary with one of the keys to extract the corresponding value.

Then, store the keys in a list and print the list.

In [12]:
dict1 = {
    'silly': 'goose',
    'happy': 'cow',
    'big': 'bear'
}

In [13]:
print('dict1[silly] = \"', dict1.get('silly'), '\"')

dict1[silly] = " goose "

In [14]:
keylist = list(dict1.keys())
print('keys:', keylist)

keys: ['silly', 'happy', 'big']

In [15]:
type(dict1.keys()), type(keylist)

(dict_keys, list)

## Exercise 2.6
Convert the following sentence into a set of lowercase words sorted alphabetically.

Do not include the punctuation mark in the resulting set.

"The quick brown fox jumped over the lazy dogs."

In [16]:
sentence = "The quick brown fox jumped over the lazy dogs."

In [17]:
sentence = sentence.lower().replace('.','')
words = sentence.split(' ')
wordset = set(words)
wordssort = sorted(wordset) #this casts it back into a list
print(wordssort)

['brown', 'dogs', 'fox', 'jumped', 'lazy', 'over', 'quick', 'the']

In [18]:
# alternative method (one line!)
sorted(set(sentence.lower().replace('.','').split(' ')))

['brown', 'dogs', 'fox', 'jumped', 'lazy', 'over', 'quick', 'the']