In [2]:
1+1

2

I will now take the square root of 9

In [3]:
import math
math.sqrt(9)

3.0

In [4]:
speedoflight = 299792458

In [5]:
#Convert speed of light from meters per second to miles per hour
speedoflight * (60) * (60) * (24) * (1 / 1609.344)

16094799105.225481

In [6]:
virginia_gdp = 508662000000

In [7]:
#Now I will divide the Viginia GDP by the population of Virginia to get the per-capita GDP
virginia_gdp / 8001024

63574.61244960645

In [12]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import requests
import plotly
from bson import dumps, loads
from bs4 import BeautifulSoup

ModuleNotFoundError: No module named 'seaborn'

*this will be italicized*

**this will be bold**

~~this will be struck out~~

The movie Space Jam from 1996 still has its [original website online](https://www.spacejam.com/1996/)

Here's a profound quote:
> I'd rather have this bottle in front of me than a frontal lobotomy

# Title
## Section title
### Subsection title
#### Sub-subsection 
etc...

Two ways to add an image:
1. refer to an amage in the same folder as your notebook:

![](RachelHolman.jpeg)

2. refer to the image with the fill URL (this will also give you control over image size)

<img src="https://files.secure.website/wscfus/10567870/25715020/happy-golden-w1200-o.jpg" width="200">

# Title: The University of Virginia

## Section: Introduction

The **University of Virginia** (U.Va. or UVA) is a public research university in [Charlottesville, Virginia](https://en.wikipedia.org/wiki/Charlottesville,_Virginia). It was founded in 1819 by United States *Declaration of Independence* author Thomas Jefferson.
<img src="https://news.virginia.edu/sites/default/files/article_image/Rotunda_Copper_Dome_UTDA%5B1%5D_0.jpg">

It is the flagship university of Virginia and home to Jefferson's Academical Village, a UNESCO World Heritage Site. UCA is known for its historic foundations, student-run honor code and ~~secret societies~~ championship basketball.

### Subsection: Founders

The original governing Board of Visitors included Jefferson, James Madison, and James Monroe who once said

> The best form of government is that which is most likely to prevent the greatest sum of evil.

Monroe was the sitting President of the United States at the time of its foundation and earlier Presidents Jefferson and Madison were UVA's first two rectors.

### Subsection: History

Jefferson concieved and designed the original courses of study and original architecture. UVA was the first university of the Anerical South elected to the research-driven Association of American Universities in 1904. More than a century later, the journal Science credited UVA faculty with two of the top ten global scientific breakthroughs of 2015. The University of Virginia, along with the University at Buffalo, are the only two colleges founded by United States Presidents.

# To include a bulleted list:

* item 1
* item 2
    * item 2a
    * item 2b
        * item 2b, part 1
        * item 2b, part 2
* item 3

Next I will discuss the `pd.read_cv()` function

```
print "example code"
```

# Latex code:

Reference a list of latex code for various mathematical symbols [here](https://en.wikibooks.org/wiki/LaTeX/Mathematics)

$$ x=\frac{-b \pm \sqrt{b^2 -4ac}}{2a}$$

# Making tables

For generating tables in python it is easiest to create a table on [this website](https://www.tablesgenerator.com/markdown_tables) then copy and paste the output into a markdown cell.

But it can also be done with code of this sort:
| Day       | High Temp | Low Temp |
|-----------|-----------|----------|
| Monday    | 93        | 79       |
| Tuesday   | 88        | 73       |
| Wednesday | 76        | 67       |
| Thursday  | 89        | 84       |
| Friday    | 101       | 82       |
| Saturday  | 96        | 80       |
| Sunday    | 85        | 72       |

# My favorite math functions in Python

* The natural logarithm $ln(x)$ is `math.log(x)`
    * The log base 10, $log_{10}(x)$, is `math.log10(x)`
    * The log base $a$, $log_a(x)$, is `math.log(x,a)`
    
* Trigonometric functions:
| Function | Mathematical notation | Python code       |
|----------|-----------------------|-------------------|
| Sine     | $sin(\theta)$         | `math.sin(theta)` |
| Cosine   | $cos(\theta)$         | `math.cos(theta)` |
| Tangent  | $tan(\theta)$         | `math.tan(theta)` |

* $\pi$ rounded to ten decimal places:
```
round(math.pi, 10)
```

# Getting started with Python code:

In [8]:
my_integer = 5
my_float = 5.0
my_string = 'five'

In [9]:
type(my_integer)

int

In [10]:
type(my_float)

float

In [11]:
type(my_string)

str

In [12]:
my_integer ** 2

25

In [13]:
quote = 'We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.'

In [14]:
len(quote)

209

In [15]:
my_list = [5, 5.0, "five"]
type(my_list)

list

In [16]:
my_list[0]

5

In [17]:
my_list[1]

5.0

In [18]:
my_list[2]

'five'

In [19]:
my_list[0:2]

[5, 5.0]

In [20]:
my_tuple = (5, 5.0, "five")
type(my_tuple)

tuple

In [21]:
my_dictionary = {'university': 'University of Virginia',
                 'enrollment': 24639,
                 'location': 'Charlottesville, Virginia'}
type(my_dictionary)

dict

In [22]:
my_dictionary['location']

'Charlottesville, Virginia'

In [23]:
#dataframe
import pandas as pd
my_dict = {'day': ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
           'high_temp': [87,80,91,102,92,86,78],
           'low_temp': [74,68,78,85,81,72,61]}
my_dataframe = pd.DataFrame(my_dict)
my_dataframe

         day  high_temp  low_temp
0     Sunday         87        74
1     Monday         80        68
2    Tuesday         91        78
3  Wednesday        102        85
4   Thursday         92        81
5     Friday         86        72
6   Saturday         78        61

In [24]:
episode_numbers = ["IV", "V", "VI", "I", "II", "III", "VII", "S1", "VIII", "S2", "IX"]

In [25]:
tuple_list = [(episode_numbers[0], "A New Hope"), (episode_numbers[1], "The Empire Strikes Back"),
             (episode_numbers[2], "Return of the Jedi"), (episode_numbers[3], "The Phantom Menace"),
             (episode_numbers[4], "Attack of the Clones"), (episode_numbers[5], "Revenge of the Sith"), 
             (episode_numbers[6], "The Force Awakens"), (episode_numbers[7], "Rogue One: A Star Wars Story"), 
             (episode_numbers[8], "The Last Jedi"), (episode_numbers[9], "Solo: A Star Wars Story"), 
             (episode_numbers[10], "The Rise of Skywalker")]

In [26]:
starwars_dict = {'episode_number': episode_numbers[0:11],
             'title': [tuple_list[0][1], tuple_list[1][1], tuple_list[2][1],
                       tuple_list[3][1], tuple_list[4][1], tuple_list[5][1],
                       tuple_list[6][1], tuple_list[7][1], tuple_list[8][1],
                       tuple_list[9][1], tuple_list[10][1]],
             'release_year': [1977,1980,1983,1999,2002,2005,2015,2016,2017,2018,2019]}
import pandas as pd
starwars_dataframe = pd.DataFrame(starwars_dict)
starwars_dataframe

   episode_number                         title  release_year
0              IV                    A New Hope          1977
1               V       The Empire Strikes Back          1980
2              VI            Return of the Jedi          1983
3               I            The Phantom Menace          1999
4              II          Attack of the Clones          2002
5             III           Revenge of the Sith          2005
6             VII             The Force Awakens          2015
7              S1  Rogue One: A Star Wars Story          2016
8            VIII                 The Last Jedi          2017
9              S2       Solo: A Star Wars Story          2018
10             IX         The Rise of Skywalker          2019

In [27]:
# Describe method used on the week days dataframe
my_dataframe.describe(include='all')

           day   high_temp   low_temp
count        7    7.000000   7.000000
unique       7         NaN        NaN
top     Sunday         NaN        NaN
freq         1         NaN        NaN
mean       NaN   88.000000  74.142857
std        NaN    8.062258   8.112307
min        NaN   78.000000  61.000000
25%        NaN   83.000000  70.000000
50%        NaN   87.000000  74.000000
75%        NaN   91.500000  79.500000
max        NaN  102.000000  85.000000

In [28]:
# show data type attributes in week days dataframe
my_dataframe.dtypes

day          object
high_temp     int64
low_temp      int64
dtype: object

In [29]:
# show first 3 rows of starward dataframe
starwars_dataframe.head(3)

  episode_number                    title  release_year
0             IV               A New Hope          1977
1              V  The Empire Strikes Back          1980
2             VI       Return of the Jedi          1983

In [1]:
# report number of rows and colums in the dataframe
starwars_dataframe.shape

NameError: name 'starwars_dataframe' is not defined