# M03 - In Class Participation 
## Rachel Holman

## Exercise 3.1

What prints when val=5? How would you fix the problem?

5 does not fit any of the if/elif conditions. We can fix it by adding an "else" condition.

## Exercise 3.2

- Define list o fintegers xx=[-2,8,0,5,6]
- compute the maximum, storing max_val
- loops over each value in the list
- if the value is less than the max, print the value
- otherwise print the string "max_val"

In [9]:
xx = [-2,8,0,5,6]
max_val = max(xx)

for i in xx:
    if i < max_val:
        print(i)
    else:
        print("max_val")

-2
max_val
0
5
6

In [11]:
# alternative method
for i in xx:
    print(i) if i<max_val else print("max_val")

-2
max_val
0
5
6

## Exercise 3.3

- set a variable it to 0
- set a variable max_iter to 100
- while it < max_iter:
    - if it = 0 or is divisible by 10, print it.
- increase it by 1
- quit when it >= max_iter

In [13]:
it = 0
max_iter = 100

while it < max_iter:
    if (it == 0) or (it % 10 == 0):
        print(it)
    it += 1

0
10
20
30
40
50
60
70
80
90

## Exercise 3.4

create list of 4 strings that are capitalized proper nouns

interate over the strings, lowercase and print them.

In [20]:
names = ["Rachel", "Taryn","Reanna","Ben"]

for name in names:
    print(name.lower())

rachel
taryn
reanna
ben

In [26]:
# alternative method
_ = [print(n.lower()) for n in names]

rachel
taryn
reanna
ben

## Exercise 3.5

use the list from before, use iter() and next() to interate and print each string (not lowercased)

In [65]:
nameit = iter(names)
print(next(nameit))
print(next(nameit))
print(next(nameit))
print(next(nameit))

Rachel
Taryn
Reanna
Ben

In [34]:
# alternative method
for n in iter(names):
    print(n)

Rachel
Taryn
Reanna
Ben

## Exercise 3.6

create dictionary with 2 city names as keys and zip codes as values

use a for loop with items() to print each key-value pair

In [42]:
citydict = {
    'Memphis': 38117,
    'Charlottesville': 22903
}

for cit, zi in citydict.items():
    print(cit, zi)

Memphis 38117
Charlottesville 22903

In [43]:
# alternative method
_ = [print(cit, zi) for cit, zi in citydict.items()]

Memphis 38117
Charlottesville 22903

In [45]:
# alternative method
print('\n'.join([f"{cit} {zi}" for cit, zi in citydict.items()]))

Memphis 38117
Charlottesville 22903

## Exercise 3.7

use dictionary from previous part. Use a for loop with keys() to print each key value pair

In [55]:
for cit in citydict.keys():
    print(cit, citydict[cit])

Memphis 38117
Charlottesville 22903

## Exercise 3.8

Write a list comprehesion that takes a lost of numeric values and returns a list of their cubes

In [58]:
vals = [3,6,2,1,9,-2]

_ = [print(val**3) for val in vals]

27
216
8
1
729
-8

## Exercise 3.9

create list of 7 strings with some numbers and some not numbers

write a list comprehension that takes the list and returns a list of strings that are numbers

In [63]:
lst = ['4', 'apple', 'silly', '9', '27', 'hey', '0']

numlst = [l for l in lst if l.isdigit()]
numlst

['4', '9', '27', '0']